@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white !important;


}
body{
    background-image: url('./assets/background.jpg');
    
    background-position: fixed;
    background-size: cover;
    
}